 body {
     background-color: #9e9da21c;
 }

 .pad {
     padding: 0 20px;
     margin: 10px 10px;
     width: 100%;
     /* background-color: #FFFFFF;   */
 }

 .edit-1>ul {
     width: 50%;
     display: flex;
     justify-content: space-between;


 }

 .edit-2 {
     background-color: #75BF7A;
     color: white;

 }

 .container-2 {
     display: flex;
     justify-content: space-between;
     line-height: 60px;
     row-gap: 100px;
 }

 .item-1 {
     width: 557px;
     font-size: 54px;
     line-height: 74.91px;
     margin-top: 170px;
     font-weight: 800;
 }

 .item-1-edit {
     font-size: 24px;
     font-weight: 500;
     line-height: 34px;
     color: #9E9DA2;
 }

 .subitem-1 {
     display: flex;
     justify-content: space-around;

 }

 .item-2 {
     margin-top: 30px;
 }

 .container-3 {
     display: flex;
     justify-content: space-between;
     width: 100%;
     height: 120px;
     margin: 10% 0px;
     /* border: 2px solid black; */
     background-color: #75BF7A;
     padding: 30px 30px;
     color: white;
     font-size: 24px;

 }

 input {
     height: 70px;
 }

 button {
     background-color: black;
     color: white;
     height: 70px;
 }

 .container-4 {
     margin: 40px auto;
     width: 620px;
     text-align: center;

 }

 .container-4>h4 {

     font-size: 46.39px;
     font-weight: 800;
     line-height: 50.35px;

 }

 .container-4>p {
     font-weight: 500;
     font-size: 23px;
     line-height: 24px;
     color: #9E9DA2;

 }

 .container-5 {
     display: flex;
     justify-content: space-between;
     padding: 20px 70px;
     margin-top: 100px;

     gap: 10px;
 }

 .container-5 p {
     font-weight: 500;
     font-size: 20px;
     line-height: 26px;
     width: 290px;
 }

 .sub-container-5-A {
     text-align: right;
 }

 .all {
     font-size: 22px;
     font-weight: 800;
     line-height: 50.35px;
 }

 .sub-container-5-B {
     /* padding-top: 20px; */

 }

 .img-pad {
     margin-top: 80px;
 }

 .four-dots {
     margin-top: 100px;
     display: flex;
     justify-content: center;
     mix-blend-mode: multiply;

 }

 .tere-benefits {
     display: flex;
     justify-content: center;
     font-size: 46.39px;
     font-weight: 800;
     line-height: 50.35px;
     margin-top: 100px;
 }

 .container-9 {
     /* position: relative; */
 }

 .container-6 {
     width: 80%;
     height: 200px;
     background-color: white;
     /* border: 2px solid black; */
     border-radius: 20px;
     margin-top: 8%;
     margin-left: 1%;
     border-radius: 4px;
     display: flex;
     justify-content: space-around;
    }
    .container-6 h4{
        font-size: 33.94px;
        /* width: 218px; */
        /* height:65px; */
    }

 .container-7 {
     width: 80%;
     height: 200px;
     background-color: white;
     /* border: 2px solid black; */
     border-radius: 4px;
     margin-top: 8%;
     margin-left: 19%;
     display: flex;
     justify-content: space-around;
 }
 .container-7 h4{
    font-size: 33.94px;
 }
 .z-index{
z-index: -1;
margin-left: 25%;
margin-bottom: -46%;
 }
 .container-8 {
     width: 80%;
     height: 200px;
     /* border: 2px solid black; */
     margin-top: 8%;
     margin-left: 1%;
     border-radius: 4px;
     background-color: white;
     position: relative;
     top: 70%;
     display: flex;
     justify-content: space-around;
 }
 .container-8 h4{
    font-size: 33.94px;
 }

 img {
     mix-blend-mode: multiply;
 }
 .container-9{
    display: flex;
    justify-content: space-around;
    margin-top: 30%;
    background-color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 20%;
    /* padding: 10px 10px; */
 }
 .container-9-A{
    margin:auto 0px;
 }
 .container-9-B{
    margin:auto 0px;
    line-height: 20px;

 }
 .container-9-C{
    margin:auto 0px;
    line-height: 20px;
}
.container-9-D{
    margin:auto 0px;
}
.container-9-E{
    margin:auto 0px;
}